* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    overflow-y: auto;
    /* padding-bottom: 140px; */
}

/* Header */
.header {
    background: #181818;
    padding: 15px;
    text-align: center;
}

/* Layout */
.main-container {
    display: flex;
    min-height: calc(100vh - 120px);
}

/* Sidebar */
.sidebar {
    width: 18%;
    background: #181818;
    padding: 20px;
}

.sidebar h3 {
    margin-bottom: 20px;
    color: #b3b3b3;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
    color: #b3b3b3;
}

.sidebar li:hover {
    color: white;
    transition: 0.3s;
}

/* Song List */
.song-list {
    width: 82%;
    padding: 20px;
    padding-bottom: 200px;
}

.song-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #282828;
    padding: 12px 15px;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.song-card span {
    flex: 1;
}

.song-card button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.song-card img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.song-card span {
    color: #b3b3b3;
    font-size: 14px;
}

.song-card:hover {
    background: #333;
    cursor: pointer;
    transform: scale(1.03);

}

.song-card.active {
    background: #333;
    border-left: 4px solid #1DB954;
    transform: scale(1.01)
}

/* Bottom Player Bar */
.player-bar {
    background-color: #181818;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-left {
    width: 25%;
}

.player-center {
    width: 50%;
    text-align: center;
}

.player-right {
    width: 25%;
    text-align: right;
}

.player-center button {
    background: #1db954;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.player-center input[type="range"] {
    width: 60%;
    margin-top: 5px;
}

.player-bar button:hover {
    opacity: 70%;
    cursor: pointer;
}

.player-bar button:active {
    opacity: 40%;
    margin: 5px;
    transform: scale(0.9);
}

.sidebar h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #b3b3b3;
}

#recentList {
    list-style: none;
    padding-left: 0;
}

#recentList li {
    font-size: 13px;
    color: #b3b3b3;
    padding: 6px 0;
    cursor: pointer;
    transition: color 0.2s ease;
}

#recentList li:hover {
    color: white;
}