* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    overflow-y: auto;
    padding-bottom: 140px;
}

/* Header */
.header {
    background: #181818;
    padding: 15px;
    text-align: center;
}

/* Layout */
.main-container {
    display: flex;
    min-height: calc(100vh - 120px);
}

/* Sidebar */
.sidebar {
    width: 20%;
    background: #181818;
    padding: 20px;
}

.sidebar h3 {
    margin-bottom: 20px;
    color: #b3b3b3;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
    color: #b3b3b3;
}

.sidebar li:hover {
    color: white;
    transition: 0.3s;
}

/* Song List */
.song-list {
    width: 80%;
    padding: 20px;
    padding-bottom: 200px;
}

.song-card {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #282828;
    padding: 15px;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: 0.3s;
}

.song-card img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.song-card span {
    color: #b3b3b3;
    font-size: 14px;
}

.song-card:hover {
    background: #333;
    cursor: pointer;
}

/* Bottom Player Bar */
.player-bar {
    background-color: #181818;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.player-bar button {
    background: #1bd945;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}

.player-bar input[type="range"] {
    width: 50%;
    margin: 13px;
}

.player-bar button:hover {
    opacity: 70%;
    cursor: pointer;
}

.player-bar button:active {
    opacity: 40%;
    margin: 5px;
}
